{% extends 'main/nav_bar.html' %}

{% block title %}Дашборды{% endblock %}

{% block active3 %}active_btn{% endblock %}

{% block content %}
{% load static %}

<section class="dashboards_list">
    <div class="container">
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Мои дашборды</h2>
            <button class="add_btn">
                <img src="{% static 'main/img/white_plus.svg' %}" alt="" class="add_btn_img">
                <h3 class="text-h3 text-white">дашборд</h3>
            </button>
        </div>
        <div class="elem_list">
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Продажи магазина за 2024</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Детализация телефонных звонков</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Итоговый отчет за квартал</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Все мои покупки за все время</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Учеба</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Лабораторная работа 1</h3>
            </button>
        </div>
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Взгляните на готовые дашборды</h2>
        </div>
        <div class="elem_list">
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Sales Growth 2023</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Customer Satisfaction Survey</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Revenue Breakdown by Region</h3>
            </button>
        </div>
    </div>
</section>

{% endblock %}
