{% extends 'main/nav_bar.html' %}

{% block title %}Файлы{% endblock %}

{% block active1 %}active_btn{% endblock %}

{% block content %}
{% load static %}

<section class="files_list">
    <div class="container">
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Мои файлы</h2>
            <button class="add_btn">
                <img src="{% static 'main/img/white_plus.svg' %}" alt="" class="add_btn_img">
                <h3 class="text-h3 text-white">файл</h3>
            </button>
        </div>

        <!-- модальное окно для загрузки файла -->

        <!-- <div class="modal_window">
            <div class="load_window">
                <h3 class="text-h3 text-black">Выберите файл формата *csv</h3>
                
                <form action="POST">
                    <input id="load_file" type="file" name="file" class="load_file">
                </form>

                <div class="modal_window_btn">
                    <a href="{% url 'files' %}" class="btn_close">
                        <h3 class="text-h3 text-black">Закрыть</h3>
                    </a>
                    <a href="{% url 'files' %}" class="btn_save btn_save_active">
                        <h3 class="text-h3 text-white">Загрузить</h3>
                    </a>   
                </div>
            </div>
            <div class="overlay"></div>
        </div> -->
        
        <div class="elem_list">
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">sales_growth_2023</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">customer_satisfaction_survey</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">revenue_breakdown_by_region</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">quarterly_financial_overview</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">market_share_analysis</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">product_performance_metrics</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">website_traffic_trends</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">social_media_engagement_stats</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">expense_report_summary</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">conversion_rate_analysis</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">annual_budget_overview</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">sales_forecast_for_q4</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">employee_performance</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">customer_retention_rates</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">product_feedback</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">employee_performance_2</h3>
            </button>
        
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">employee_performance_3</h3>
            </button>
        </div>
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Научитесь на уже готовых датасетах</h2>
        </div>
        <div class="elem_list">
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">sales_growth_2023</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">customer_satisfaction_survey</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">revenue_breakdown_by_region</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">quarterly_financial_overview</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">sales_forecast_for_q4</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">employee_performance</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">customer_retention_rates</h3>
            </button>        
        </div>
    </div>
</section>

{% endblock %}