{% extends 'main/nav_bar.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
{% load static %}

<section class="home_page">
    <div class="container">
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Добро пожаловать на платформу My Data!</h2>
        </div>
        
        <h3 class="text-h3 text-black">Начните анализ уже сегодня!</h3>
        
        <!-- <h1>Детали Файла</h1>
        <p><strong>Название:</strong> {{ file.name }}</p>
        <p><strong>Путь:</strong> <a href="{{ file.path }}" target="_blank">{{ file.path }}</a></p>
        <p><strong>Разделитель:</strong> {{ file.separator }}</p>
        <p><strong>Есть заголовок:</strong> {{ file.has_header }}</p>
        <p><strong>Время создания:</strong> {{ file.created_time }}</p> -->
        
        <!-- простой вывод содержимого файла из гугл диска -->
        <!-- <div>
            <h3>Содержимое файла:</h3>
            <table>
                {{ csv_data }}
            </table>
        </div> -->
    </div>
</section>

{% endblock %}