{% extends 'main/nav_bar.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
{% load static %}

<section class="home_page">
    <div class="container">
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text"> MyData – Создавайте чарты и дашборды легко</h2>
        </div>
            <h3 class="text-h3 text-black">Простая и удобная платформа для анализа данных и визуализации, помогающая принимать решения быстрее.
                <strong>MyData</strong> предоставляет инструменты для создания профессиональных чартов, интерактивных дашбордов и аналитических отчетов в несколько кликов.</h3>
            <p>С помощью нашей платформы вы сможете:</p>
            <oi>
                <li>Импортировать данные из таблиц, баз данных или облачных хранилищ.</li>
                <li>Визуализировать ключевые метрики с помощью диаграмм, карт и таблиц.</li>
                <li>Настраивать дашборды под свои нужды, добавляя фильтры, метки и интерактивные элементы.</li>
                <li>Совместно работать с командой, делясь проектами в реальном времени.</li>
                <li>Интегрироваться с популярными сервисами, такими как Google Sheets, Excel, API и другими.</li>
            </oi>
            <p>Мы делаем сложный анализ простым, помогая вам фокусироваться на данных, а не на инструментах. MyData подходит для бизнеса, образования, науки и всех, кто работает с данными и ценит эффективность!</p>
        <!-- <h1>Детали Файла</h1>
        <p><strong>Название:</strong> {{ file.name }}</p>
        <p><strong>Путь:</strong> <a href="{{ file.path }}" target="_blank">{{ file.path }}</a></p>
        <p><strong>Разделитель:</strong> {{ file.separator }}</p>
        <p><strong>Есть заголовок:</strong> {{ file.has_header }}</p>
        <p><strong>Время создания:</strong> {{ file.created_time }}</p> -->
        
        <!-- простой вывод содержимого файла из гугл диска -->
        <!-- <div>
            <h3>Содержимое файла:</h3>
            <table>
                {{ csv_data }}
            </table>
        </div> -->
    </div>
</section>

{% endblock %}