{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% block style %}{% endblock %}
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="nav">
                <div class="left_btn">
                    <a href="{% url 'home' %}"><img src="{% static 'main/img/logo_white.svg' %}" alt="Logo"
                            height="30px" class="logo"></a>
                    <a class="nav_bar_btn" href="{% url 'files' %}">
                        <img src="{% static 'main/img/files.svg' %}" alt="" class="nav_bar_btn_img">
                        <h3 class="text-h3 text-white_nav {% block active1 %}{% endblock %}">Файлы</h3>
                    </a>
                    <a class="nav_bar_btn" href="{% url 'charts' %}">
                        <img src="{% static 'main/img/charts.svg' %}" alt="" class="nav_bar_btn_img">
                        <h3 class="text-h3 text-white_nav {% block active2 %}{% endblock %}">Чарты</h3>
                    </a>
                    <a class="nav_bar_btn" href="{% url 'dashboards' %}">
                        <img src="{% static 'main/img/dashboards.svg' %}" alt="" class="nav_bar_btn_img">
                        <h3 class="text-h3 text-white_nav {% block active3 %}{% endblock %}">Дашборды</h3>
                    </a>
                </div>
                <div class="right_btn">
                    <button class="nav_bar_btn dialoge_btn" id="open_dlg_btn">
                        <img src="{% static 'main/img/profile.svg' %}" height="22px" alt="Профиль" class="nav_bar_btn_profil">
                    </button>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>

</html>


<!-- СКРИПТЫ -->
<!-- скрипт для реализации модального окна -->
<!-- <script>
    const open_dlg_btn = document.getElementById('open_dlg_btn');
    const profile_dlg = document.getElementById('profile_dlg');
    const close_dlg_btn = document.getElementById('close_dlg_btn');

    open_dlg_btn.addEventListener('click', () => {
        profile_dlg.showModel()
    })
    close_dlg_btn.addEventListener('click', () => {
        profile_dlg.close()
    })
</script> -->