{% extends 'main/nav_bar.html' %}

{% block title %}Проверка данных{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'files/css/style.css' %}">
{% endblock %}

{% block active1 %}active_btn{% endblock %}

{% block content %}
<section class="check_data_section">
    <div class="container">
        <h2>Проверка и очистка данных</h2>
        <div class="table-responsive">
            <h3>Данные:</h3>
            <table class="table">
                <thead>
                    <tr>
                        {% for column in data.columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data.values %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="drop_nulls" class="btn btn-danger">Удалить пропуски</button>
            <button type="submit" name="remove_duplicates" class="btn btn-warning">Удалить дубликаты</button>
        </form>
        <br>
        <a href="{% url 'change_data_types' file_id=file_id %}" class="btn btn-primary">Перейти к изменению типов данных</a>
    </div>
</section>
{% endblock %}
