{% extends 'main/nav_bar.html' %}

{% block title %}Файлы{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'files/css/style.css' %}">
{% endblock %}

{% block active1 %}active_btn{% endblock %}

{% block content %}

<section class="files_list">
    <div class="container">
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Мои файлы</h2>
            <button class="btn_add" id="btn_add_file">
                <img src="{% static 'main/img/white_plus.svg' %}" alt="" class="btn_add_img">
                <h3 class="text-h3 text-white">файл</h3>
            </button> 
        </div>           
        <dialog id="modal_select_file" class="modal_window">
            <div class="modal_window_content">
                <h3 class="h3-text modal_window_title title">Загрузка нового файла</h3>
                <form id="file_upload_form" class="file_upload_form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- <div>
                        <label for="file_input" class="text-h3 text-black">Выберите файл</label>
                        <input type="file" id="file_input" class="file_input" name="file" accept=".csv" required>
                    </div> -->
                    <div class="content">
                        <div class="actions">
                            <label for="file" class="button upload-btn" id="file-label">Выбрать файл
                                <input hidden type="file" accept=".csv" id="file" onchange="updateFileName()">
                            </label>
                        </div>
                    </div>
                    <div class="sep_field">
                        <label for="separator_input" class="text-h3 text-black sep_input">
                            Разделитель
                        </label>
                        <div class="input_container">
                            <input type="text" class="sep_input" id="separator_input" 
                            maxlength="5" name="separator" placeholder="" required>
                        </div>
                    </div>                   
                    <div class="checkbox_has_header">
                        <input type="checkbox" id="has_header" name="has_header"> 
                        <label for="has_header" class="text-h3 text-black sep_input">
                            файл содержит заголовки
                        </label>
                    </div>
                    <script>
                        // Функция для обновления имени выбранного файла
                        function updateFileName() {
                            var fileInput = document.getElementById("file");
                            var fileLabel = document.getElementById("file-label");
                    
                            var fileName = fileInput.files[0] ? fileInput.files[0].name : "Choose File";
                            fileLabel.textContent = fileName;
                        }
                    
                        // Открытие модального окна при нажатии на кнопку "Добавить файл"
                        document.getElementById('btn_add_file').addEventListener('click', () => {
                            document.getElementById('modal_select_file').showModal();
                        });
                    
                        // Закрытие модального окна
                        document.getElementById('btn_close_modal').addEventListener('click', () => {
                            document.getElementById('modal_select_file').close();
                        });
                    
                        // Отправка формы при нажатии кнопки "Далее"
                        document.getElementById('btn_preprocess_file').addEventListener('click', () => {
                            var form = document.getElementById('file_upload_form');
                    
                            // Проверка, что файл выбран и разделитель указан
                            var fileInput = document.getElementById('file');
                            var separatorInput = document.getElementById('separator_input');
                            
                            if (fileInput.files.length === 0) {
                                alert('Пожалуйста, выберите файл.');
                                return;
                            }
                            
                            if (separatorInput.value.trim() === '') {
                                alert('Пожалуйста, укажите разделитель.');
                                return;
                            }
                    
                            form.submit(); // Отправляем форму
                        });
                    </script>
                </form>        
                
                <div class="modal_window_btn">
                    <button type="submit" class="btn_add btn_close_modal" id="btn_close_modal">
                        <h3 class="text-black">Отменить</h3>
                    </button>
                    <button class="btn_add btn_preprocess_file" id="btn_preprocess_file">
                        <h3 class="text-white">Далее</h3>
                    </button>
                </div>
            </div>
        </dialog>
        <script>
            btn_add_file.addEventListener('click', () => {
                modal_select_file.showModal()
            })

            btn_close_modal.addEventListener('click', () => {
                modal_select_file.close()
            })

            btn_preprocess_file.addEventListener('click', () => {
                file_upload_form.submit();
            });
        </script>

        {% if files %}
        <div class="elem_list">
            {% for el in files %}
                <button class="elem_list_btn">
                    <h3 class="text-h3 text-black">{{ el.name|truncatechars_html:30 }}</h3>
                </button>
            {% endfor %}
        </div>
        {% else %}
            <h3 class="text-h3 text-dark-grey">У вас пока нет загруженных файлов</h3>
        {% endif %}
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Научитесь на подготовленных данных</h2>
        </div>
        <div class="elem_list">
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">salary.csv</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">clients.csv</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">credit_risk.csv</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">drivers.csv</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">movies.csv</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">visits.csv</h3>
            </button>
        </div>        
    </div>
</section>

{% endblock %}