{% extends 'main/nav_bar.html' %}

{% block title %}Файлы{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'files/css/style.css' %}">
{% endblock %}

{% block active1 %}active_btn{% endblock %}

{% block content %}

<section class="files_list">
    <div class="container">
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Мои файлы</h2>
            <button class="btn_add" id="btn_add_file">
                <img src="{% static 'main/img/white_plus.svg' %}" alt="" class="btn_add_img">
                <h3 class="text-h3 text-white">файл</h3>
            </button> 
        </div>           
        <dialog id="modal_select_file" class="modal_window">
            <div class="modal_window_content">
                <h3 class="h3-text modal_window_title title">Загрузка нового файла</h3>
                <form id="file_upload_form" class="file_upload_form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="input_file_name">
                        {{ form.name }}
                    </div>

                    <div class="content">
                        <div class="actions">
                            {{ form.file }}    
                            <label for="id_file" class="button upload-btn" id="file-label">
                                Выбрать файл
                            </label>
                        </div>
                    </div>
                    <div class="sep_field">
                        <label for="separator" class="text-h3 text-black">Разделитель</label>
                        <div class="sep_input_area">
                            {{ form.separator }}
                        </div>
                    </div>                     
                    
                    <div class="checkbox_has_header">
                        {{ form.has_header }}
                        <label for="id_has_header" class="text-h3 text-black">Содержит заголовки</label>
                    </div>

                    <div class="modal_window_btn">
                        <button type="button" class="btn_add btn_close_modal" id="btn_close_modal">
                            <h3 class="text-black">Отменить</h3>
                        </button>
                        <button type="button" class="btn_add btn_preprocess_file" id="btn_preprocess_file">
                            <h3 class="text-white">Далее</h3>
                        </button>
                    </div>
                </form>        
            </div>
        </dialog>
        <script>
            document.getElementById('btn_add_file').addEventListener('click', () => {
                document.getElementById('modal_select_file').showModal();
            });

            document.getElementById('btn_close_modal').addEventListener('click', () => {
                document.getElementById('modal_select_file').close();
            });

            document.getElementById('id_file').addEventListener('change', function () {
                const fileInput = this;
                const fileLabel = document.getElementById('file-label');
        
                if (fileInput.files.length > 0) {
                    const fileName = fileInput.files[0].name;
                    fileLabel.textContent = fileName;
                } else {
                    fileLabel.textContent = 'Выбрать файл';
                }
            });

            document.getElementById('btn_preprocess_file').addEventListener('click', () => {
                const form = document.getElementById('file_upload_form');
                const fileInput = form.querySelector('input[type="file"]');
                const separatorInput = form.querySelector('input[name="separator"]');

                if (!fileInput.value) {
                    alert('Пожалуйста, выберите файл.');
                    return;
                }

                if (!separatorInput.value.trim()) {
                    alert('Пожалуйста, укажите разделитель.');
                    return;
                }

                form.submit();
            });
        </script>

        {% if user_files %}
        <div class="elem_list">
            {% for el in user_files %}
                <button class="elem_list_btn">
                    <h3 class="text-h3 text-black">{{ el.name|truncatechars_html:30 }}</h3>
                </button>
            {% endfor %}
        </div>
        {% else %}
            <h3 class="text-h3 text-dark-grey empty_text">У вас пока нет загруженных файлов. Загрузите, чтобы начать работу</h3>
        {% endif %}
        
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Научитесь на подготовленных данных</h2>
        </div>
        {% if public_files %}
        <div class="elem_list">
            {% for el in public_files %}
                <button class="elem_list_btn">
                    <h3 class="text-h3 text-black">{{ el.name|truncatechars_html:30 }}</h3>
                </button>
            {% endfor %}
        </div>
        {% else %}
            <h3 class="text-h3 text-dark-grey empty_text">Извините, готовые файлы сейчас не доступны...</h3>
        {% endif %}   
    </div>
</section>


{% endblock %}