{% extends 'main/nav_bar.html' %}

{% block title %}Переименование столбцов{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'files/css/style.css' %}">
{% endblock %}

{% block active1 %}active_btn{% endblock %}

{% block content %}
<section class="rename_columns_section">
    <div class="container">
        <h2>Переименование столбцов</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <ul>
                    {% for column in columns %}
                        <li>
                            <label for="column_{{ column }}">{{ column }}</label>
                            <input type="text" id="column_{{ column }}" name="columns" value="{{ column }}" required>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
    </div>
</section>
{% endblock %}
