{% extends 'main/nav_bar.html' %}

{% block title %}Чарты{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'charts/css/style.css' %}">
{% endblock %}

{% block active2 %}active_btn{% endblock %}

{% block content %}

<section class="charts_list">
    <div class="container">
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Мои чарты</h2>
            <button class="btn_add" id="btn_add_chart">
                <img src="{% static 'main/img/white_plus.svg' %}" alt="" class="btn_add_img">
                <h3 class="text-h3 text-white">чарт</h3>
            </button>
        </div>
        <dialog id="modal_select_file" class="modal_window">
            <div class="modal_window_content">
                <h3 class="h3-text modal_window_title title">Выберите файл, по которому будет создаваться чарт</h3>
                {% if user_files %}
                    <div class="elem_list">
                        {% for el in user_files %}
                        <button class="elem_list_btn" onclick="selectFile(this, '{{ el.file_id }}' )">
                            <h3 class="text-h3 text-black">{{ el.name|truncatechars_html:30 }}</h3>
                        </button>
                        {% endfor %}
                    </div>
                {% else %}
                    <h3 class="text-h3 text-dark-grey none_text">У вас нет загруженных файлов</h3>
                {% endif %}
    
                <h3 class="h3-text modal_window_title title">Попробуйте готовые файлы</h3>
                {% if public_files %}
                    <div class="elem_list elem_list_end">
                        {% for el in public_files %}
                        <button class="elem_list_btn" onclick="selectFile(this, '{{ el.file_id }}')">
                            <h3 class="text-h3 text-black">{{ el.name|truncatechars_html:30 }}</h3>
                        </button>
                        {% endfor %}
                    </div>
                {% else %}
                    <h3 class="text-h3 text-dark-grey none_text none_text_end">Извините, готовые файлы сейчас не доступны...</h3>
                {% endif %}
                
                <div class="modal_window_btn">
                    <button class="btn_add btn_close_modal" id="btn_close_modal">
                        <h3 class="text-black">Отменить</h3>
                    </button>
                    <button class="btn_add btn_select_file" id="btn_select_file">
                        <h3 class="text-white">Выбрать</h3>
                    </button>
                </div>
            </div>
        </dialog>
        <script>
            btn_add_chart.addEventListener('click', () => {
                modal_select_file.showModal()
            })

            let selected_file_id = null;
            
            function selectFile(button, file_id) {
                const buttons = document.querySelectorAll('.elem_list_btn');
                buttons.forEach(btn => {
                    btn.classList.remove('selected_file');
                });

                button.classList.add('selected_file');
                selected_file_id = file_id;

                const btnSelectFile = document.getElementById('btn_select_file');
                btnSelectFile.disabled = false;
            }

            btn_select_file.addEventListener('click', () => {
                
                if (selected_file_id) {
                    console.log(selected_file_id);
                    // window.location.href = `${selected_file_id}/`;
                    window.location.href = 'test/';
                } else {
                    console.log("!! файл не выбран !!");
                }
            
            });

            btn_close_modal.addEventListener('click', () => {
                modal_select_file.close()
            })
        </script>

        <div class="elem_list">
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Sales Growth 2023</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Customer Satisfaction Survey</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Revenue Breakdown by Region</h3>
            </button>            
        </div>
        <div class="title_with_btn">
            <h2 class="text-h2 title_with_btn_text">Попробуйте поработать с готовыми чартами</h2>
        </div>
        <div class="elem_list">
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Sales Growth 2023</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Customer Satisfaction Survey</h3>
            </button>
            <button class="elem_list_btn">
                <h3 class="text-h3 text-black">Revenue Breakdown by Region</h3>
            </button>
        </div>
    </div>

</section>

{% endblock %}
