{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <title>Пользовательское Соглашение</title>
    <!-- <link rel="stylesheet" href="{% static 'registration/css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'main/css/style.css' %}"> -->
</head>

<body>
    <h1>Пользовательское Соглашение</h1>

    <h2>1. Общие положения</h2>
    <p>Настоящее Пользовательское Соглашение (далее Соглашение) регулирует отношения между MyData (далее MyData или
        Администрация) с одной стороны и пользователем сайта с другой. Сайт MyData не является средством массовой
        информации.</p>
    <p>Используя сайт mydata.com, Вы соглашаетесь с условиями данного соглашения. <strong> Если вы не согласны с
            условиями данного соглашения, не используйте сайт MyData!</strong></p>

    <h2>2. Права и обязанности сторон</h2>
    <h3>Пользователь имеет право:</h3>
    <ul>
        <li>осуществлять поиск информации на сайте</li>
        <li>получать информацию на сайте</li>
        <li>создавать информацию на сайте</li>
        <li>копировать информацию на другие сайты разрешено только с разрешения Администрации</li>
        <li>требовать от Администрации скрытия любой информации о себе</li>
        <li>требовать от Администрации скрытия любой информации, переданной им сайту</li>
        <li>использовать информацию сайта для личных некоммерческих целей</li>
    </ul>

    <h3>Администрация имеет право:</h3>
    <ul>
        <li>по своему усмотрению и необходимости создавать, изменять, отменять правила</li>
        <li>ограничивать доступ к любой информации на сайте</li>
        <li>по своему усмотрению и необходимости создавать, изменять, удалять информацию на сайте</li>
        <li>удалять учетные записи пользователей без объяснения причины</li>
    </ul>

    <h3>Пользователь обязуется:</h3>
    <ul>
        <li>обеспечивать сохранность личных данных от доступа третьих лиц</li>
        <li>обновлять Персональные данные, предоставленные при регистрации, в случае их изменения</li>
        <li>не распространять запрещенную информацию</li>
        <li>не нарушать работоспособность сайта</li>
        <li>не создавать несколько учетных записей на сайте</li>
        <li>не вводить в заблуждение других пользователей</li>
        <li>не регистрировать учетную запись от имени другого лица</li>
        <li>не размещать запрещенные материалы</li>
        <li>не использовать скрипты для автоматизированного сбора данных</li>
    </ul>

    <h3>Администрация обязуется:</h3>
    <ul>
        <li>поддерживать работоспособность сайта</li>
        <li>защищать учетные записи пользователей</li>
        <li>защищать конфиденциальную информацию</li>
        <li>предоставлять данные пользователям по запросу властей в соответствии с законом</li>
    </ul>

    <h2>3. Ответственность сторон</h2>
    <ul>
        <li>Пользователь несет ответственность за распространяемую информацию.</li>
        <li>Администрация не несет ответственности за информацию, скопированную из других источников.</li>
        <li>Администрация не гарантирует совпадение ожиданий пользователя с реальностью.</li>
        <li>Администрация не несет ответственности за услуги третьих лиц.</li>
        <li>В случае форс-мажора администрация не гарантирует сохранность информации и бесперебойную работу сайта.</li>
    </ul>

    <h2>4. Условия действия Соглашения</h2>
    <p>Данное Соглашение вступает в силу только после регистрации на сайте. Оно перестает действовать при появлении
        новой версии.</p>
    <p>Администрация оставляет за собой право изменять данное соглашение. Администрация в некоторых случаях оповещает
        пользователей об изменении в Соглашении.</p>
</body>

</html>