.charts_list {}

.title_with_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.title_with_btn_text {
  color: var(--black-color);
}

.btn_add {
  background-color: var(--accent-color);
  border: transparent;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: .3s ease;
}

.btn_add:hover {
  transform: scale(1.05);
}

.btn_add_img {
  padding-right: 6px;
}

.elem_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 30px;  
}

.elem_list_btn {
  border-color: var(--grey-color);
  border-width: 1px;
  border-radius: 4px;
  padding: 6px 8px;
  min-width: 160px;
  max-width: 280px;
  white-space: nowrap;
  flex: auto;
  overflow: hidden;
  
  background-color: transparent;
  transition: .3s ease;
  display: block;
}

.elem_list_btn:hover {
  border-color: var(--black-color);
  transform: scale(1.03);
}

.modal_window[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: white;
  border: 1px solid var(--grey-color);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  padding-top: 4px;
  padding-bottom: 10px;
}

.modal_window_btn {
  display: flex;
  justify-content: end;
  flex-direction: row;
  justify-self: end;
}

.btn_close_modal {
  margin-left: 20px;
  background-color: var(--grey-color);
}

.selected_file {
  border-color: var(--black-color);
}
