{% extends 'main/nav_bar.html' %}

{% block title %}Файл сохранен{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'files/css/style.css' %}">
{% endblock %}

{% block active1 %}active_btn{% endblock %}

{% block content %}
<section class="save_file_section">
    <div class="container">
        <h2>Файл успешно сохранен</h2>
        <p>Ваш файл был успешно обработан и сохранен. Вы можете теперь использовать его для анализа или загрузить.</p>
        <a href="{% url 'files' %}" class="btn btn-primary">Вернуться к списку файлов</a>
    </div>
</section>
{% endblock %}
